@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.filters{
  /* background-color: #ccc; */
  width: 74%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 5px solid #000; */
}
.input-container{
  height: 20vh;
  border-top: 5px solid #000;
  /* background-color: #ccc; */
  width: 100%;
}
.list-container{
  height: 70vh;
}
form{
  display: flex;
  column-gap: 20px;
  align-items: flex-end;
  min-height: 100px;
  width: 90%;
  justify-content: center;
}
.input-field{
  height: 60px;
}
.status-input{
  display: flex;
}
.radio-input{
  display: flex;
  column-gap: 20px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
label{
  margin-right: 20px;
}
.status-radio{
  margin-right: 0;
}
.control-btns{
  display: flex;
  column-gap: 20px;
}
button{
  cursor: pointer;
}

.filter-btns{
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  margin-right: 14px;
}
.filter-btns button{
  background-color: #ccc;
}
.error{
  color: red;
  font-size: 12px;
}
.item-container .data{
  display: flex;
  column-gap: 20px;
}
.item-container .item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.item-container{
  background-color: antiquewhite;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top:20px;
}
.btns{
  display: flex;
  column-gap: 20px;
}
.data{
  min-width: 600px;
}
.list-container{
  overflow-y: auto;
  border-top: 5px solid #000;
}
button{
  padding: 10px 16px;
  border-radius: 10px;
  border:none;
  background-color: #fff;
}
button:hover{
  background-color: #eee;
  border: 1px solid #000;
}
input,select{
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
input[type=radio]{
  cursor: pointer;
}
.control-btns{
  transform: translateY(-15%);
}
.item{
  width: 75%;
  margin: auto;
}